
@{
    ViewBag.Title = "SeveralUpdate";
}

<h2>Several Update</h2>

<div class="well-sm">
	<div class="btn-toolbar">
		<a href="@Url.Action("Index")" class="btn btn-info btn-lg">Movies/Books list <span class="glyphicon glyphicon-arrow-right"></span></a>
	</div>
</div>
<div ng-controller="severalUpdateIndexController" ng-init="GetSeveralUpdate()">
	
	<div>
		<div class="col-md-3">
			<label><b>Grade:</b></label> <select ng-model="selectGrade" ng-options="item as item.Text for item in Grade" ng-init="selectGrade = options[1].Value" class="form-control"></select>
		</div>
		@*<div class="col-md-3">
			<lable><b>Serie:</b></lable> <select ng-model="selectSerie" ng-options="y.Text for (x, y) in Serie" class="form-control"></select>
		</div>*@
        <div class="col-md-3">
            <lable><b>Serie:</b></lable> <select ng-model="selectSerie" ng-options="item as item.Text for item in Serie"  class="form-control"></select>
            @*<pre>{{selectSerie | json}}</pre>*@
        </div>
		<div class="col-md-3">
			<label><b>Main Category:</b></label> <select ng-model="selectMainCategory" ng-options="item as item.Text for item in MainCategory" class="form-control"></select>
		</div>
		<div class="col-md-3">
			<label><b>Sub Category:</b></label> <select ng-model="selectSubCategory" ng-options="item as item.Text for item in SubCategory" class="form-control"></select>
		</div>
		<hr />
		<button ng-click="UpdateSelected()" class="btn btn-default">Update selected</button>
	</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Grade
					</th>
					<th>
						Serie
					</th>
					<th>
						Main Category
					</th>
					<th>
						Sub Category
					</th>
					<th>
						Update Movie/Book
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="MnB in MnBs">
					<td>{{MnB.Name}}</td>
					<td>{{MnB.Grade}}</td>
					<td>{{MnB.SerieName}}</td>
					<td>{{MnB.MainCategoryName}}</td>
					<td>{{MnB.SubCategoryName}}</td>
					<td>
						<input type="checkbox" ng-model="MnB.UpdateThis">
						@*MnB.UpdateThis*@
					</td>
					<td>
						<table>
							<tr>
								<td>
									<a href="~/MoviesAndBooks/Edit/{{MnB.Id}}" class="btn btn-info btn-sm col-xs-12" title="Edit">Edit <span class="glyphicon glyphicon-edit"></span></a>
								</td>
								<td>
									<a href="~/MoviesAndBooks/Details/{{MnB.Id}}" class="btn btn-warning btn-sm col-xs-12" title="Details">Details <span class="glyphicon glyphicon-expand"></span></a>
								</td>
								<td>
									<a href="~/MoviesAndBooks/Delete/{{MnB.Id}}" class="btn btn-danger btn-sm col-xs-12" title="Remove Movie/Book">Remove <span class="glyphicon glyphicon-remove"></span></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

</div>


<script>

	(function () {

		angular.module("app").controller("severalUpdateIndexController", function ($scope, ApiService, $window) {
			$scope.MnBs = null;
			$scope.Selected = [];
			$scope.Grade = null;
			$scope.Serie = null;
			$scope.MainCategory = null;
			$scope.SubCategory = null;
			
			var onSuccess = function (data) {
				$scope.MnBs = data.MnBs;
				$scope.Grade = data.Grade;
				$scope.MainCategory = data.MainCategory;
				$scope.Serie = data.Series;
				$scope.SubCategory = data.SubCategory;

                //default values for selects / dropdowns
				$scope.selectGrade = $scope.Grade[0];
				$scope.selectMainCategory = $scope.MainCategory[0];
				$scope.selectSerie = $scope.Serie[0];
				$scope.selectSubCategory = $scope.SubCategory[0];
			};

			var onFail = function (response) {
				alert("Misslyckades");
			};

			$scope.GetSeveralUpdate = function () {
				ApiService.Get("/MoviesAndBooks/GetSeveralUpdateData", onSuccess, onFail);
				
			}

			var onUpdateSuccess = function (data) {
			    $scope.MnBs = data.MnBs;
			    $scope.Grade = data.Grade;
			    $scope.MainCategory = data.MainCategory;
			    $scope.Serie = data.Series;
			    $scope.SubCategory = data.SubCategory;
			};

			var onUpdateFail = function (response) {
				alert("Misslyckades uppdatera");
			};
			
			$scope.UpdateSelected = function () {
				$scope.Selected = [];
				angular.forEach($scope.MnBs, function (MnBs) {
					if (!!MnBs.UpdateThis) $scope.Selected.push(MnBs.Id);
				});

				ApiService.Get("/MoviesAndBooks/UpdateMeny", onUpdateSuccess, onUpdateFail,
					{
						ToUpdate: $scope.Selected,
						Grade: angular.isUndefined($scope.selectGrade) ? "0" : $scope.selectGrade.Value,
						Serie: angular.isUndefined($scope.selectSerie) ? "0" : $scope.selectSerie.Value,
						MainCategory: angular.isUndefined($scope.selectMainCategory) ? "0" : $scope.selectMainCategory.Value,
						SubCategory: angular.isUndefined($scope.selectSubCategory) ? "0" : $scope.selectSubCategory.Value
					}
				);
				
				
			}
		
		});

	}());

</script>