@model IEnumerable<ReadAndWatchList.Models.ReadingList>


<p>
    <a href="@Url.Action("Create")" class="btn btn-info btn-lg">Create Reading list</a>
</p>
<div ng-controller="readingListIndexController" ng-init="GetReadingList()">

</div>
<script>

	(function () {

	    angular.module("app").controller("readingListIndexController", function ($scope, ApiService, $window) {
	        $scope.readingList = null;


			var onSuccess = function (data) {
			    $scope.readingList = data.readingList;

			};

			var onFail = function (response) {
				alert("Misslyckades");
			};

			$scope.GetReadingList = function () {
			    ApiService.Get("/ReadingList/GetReadingListData", onSuccess, onFail);

			}

			

		});

	}());

</script>